.notification {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    min-width: 280px;
    min-height: 30px;
    /*background-color: greenyellow;*/
    background-color: #ebebeb;
}

.icon-right-container {
    padding: 5px;
}

.user-icon, .envelope-icon {
    font-size: 18px;

}
.message-container {
    display: inline-block;
    padding-left: 10px;
}

.badge {
    font-size: 10px;
    padding: 2px 5px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    border-radius: 9px;
    position: absolute;
    left: 35px;
    top: -3px;
    z-index: 1;
}

.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}

.hide-badge {
    display: none;
}

.active {
    color: #4986E7;
}
.inactive {
    color: #999999;
}

.logout-link {
    line-height: 24px;
    vertical-align: middle;
    color: #b94a48;
    font-weight: bold;
}

.logout-link:hover {
    color: #953b39;
    font-weight: bold;
}

.user-name-conatiner {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
.user-name {
    padding-left: 10px;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
}
