.logo {
    height: 25px;
}
.navbar-padding {
    padding: 0px;
}
.navbar-default {
    background-color: white;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0;
}
.line-position {
    border-right: 1px solid #999;
    padding: 0px 10px 5px 0px;
}
.navbar-brand > img {
    display: inline-block;
}
