html, body {
  font-family: 'Nunito';
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}
.main-container {
  height: 100%;
}
.row {
  height: 100%;
}
.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding-top {
  padding-top: 0px;
}

.no-padding-bottom {
  padding-bottom: 0px;
}

.no-paddin-horizontal {
  padding-left: 0px;
  padding-right: 0px;
}

.no-paddin-vertical {
  padding-top: 0px;
  padding-bottom: 0px;
}